/******** Contenedores principales ********/
main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
aside{
    background-color: #563A87;
    text-align: center;
    color: #F3DFF7;
    height: 100vh;
}
section{
    padding: 26px;
    background: #F5F5F1;

}
/******** Tarjetas ********/
h1,h4{
    color: #563A87;
}
.nav-link{
    color: #F3DFF7;
    width: 200px;
    margin: 5px auto;
    border-radius: 5px;
}
.nav-link:hover{
    color: #563A87;
    background-color: #F3DFF7;
}
.logo{
    margin: 34px 0px 100px 0px;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.card{
    background-color: #ffffff;
    width: 300px;
    margin-bottom: 35px;
}
.card-header{
   text-align: center;
   background-color: #ffffff;
}
.card-body h3{
    text-align: center;
}
.section-title{
    margin-bottom: 80px;

}
.card.tipeCard{
    width: 95%;
}
.tab-bar{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tab-bar button{
    background-color: #ffffff;
    font-weight: bold;
    border: none;
}
.tab-bar button:focus{
    border-bottom: solid 1px #9D81CC;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
/********* Footer *******/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F3DFF7;
    color: #563A87;
    text-align: center;
 }